name: "Build MariaDB"
on:
  # pull_request:
  push:
    branches:
      - "releases/*"
  workflow_dispatch:
    inputs:
      mariadb-versions:
        description: MariaDB versions to build (JSON Array)
        required: false
        default: ""

jobs:
  list:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - id: set-matrix
        name: list available MariaDB versions
        run: |
          if [ -n "$MARIADB_VERSIONS" ]; then
            echo "::set-output name=matrix::$(printenv MARIADB_VERSIONS | jq -c '{mariadb: .}')"
          else
            echo "::set-output name=matrix::$(< versions/mariadb.json jq -c '{mariadb: .}')"
          fi
        env:
          MARIADB_VERSIONS: ${{ github.event.inputs.mariadb-versions }}
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}

  build-linux:
    runs-on: ubuntu-18.04
    needs: list
    strategy:
      fail-fast: false
      matrix: ${{fromJson(needs.list.outputs.matrix)}}
    env:
      MARIADB_VERSION: ${{ matrix.mariadb }}
    steps:
      - uses: actions/checkout@v2
      - run: .github/build-mariadb-linux.sh "$MARIADB_VERSION"
      - uses: kheiakiyama/install-azcopy-action@v1
        with:
          version: "v10"
      - name: upload
        run: |
          ACTIONS_VERSION=v$(< "$GITHUB_WORKSPACE/package.json" jq -r .version)
          azcopy_v10 login --service-principal --application-id "$AZCOPY_SPA_APPLICATION_ID" --tenant-id "$AZCOPY_TENANT_ID"
          azcopy_v10 cp "$RUNNER_TEMP/mariadb.tar.xz" "https://setupmysql.blob.core.windows.net/actions-setup-mysql/$ACTIONS_VERSION/mariadb-$MARIADB_VERSION-linux-x64.tar.xz"
        env:
          AZCOPY_SPA_APPLICATION_ID: ${{ secrets.AZCOPY_SPA_APPLICATION_ID }}
          AZCOPY_SPA_CLIENT_SECRET: ${{ secrets.AZCOPY_SPA_CLIENT_SECRET }}
          AZCOPY_TENANT_ID: ${{ secrets.AZCOPY_TENANT_ID }}

  build-darwin:
    runs-on: macos-10.15
    needs: list
    strategy:
      fail-fast: false
      matrix: ${{fromJson(needs.list.outputs.matrix)}}
    env:
      MARIADB_VERSION: ${{ matrix.mariadb }}
    steps:
      - uses: actions/checkout@v2
      - run: .github/build-mariadb-darwin.sh ${{ matrix.mariadb }}
      - uses: kheiakiyama/install-azcopy-action@v1
        with:
          version: "v10"
      - name: upload
        run: |
          ACTIONS_VERSION=v$(< "$GITHUB_WORKSPACE/package.json" jq -r .version)
          azcopy_v10 login --service-principal --application-id "$AZCOPY_SPA_APPLICATION_ID" --tenant-id "$AZCOPY_TENANT_ID"
          azcopy_v10 cp "$RUNNER_TEMP/mariadb.tar.xz" "https://setupmysql.blob.core.windows.net/actions-setup-mysql/$ACTIONS_VERSION/mariadb-$MARIADB_VERSION-darwin-x64.tar.xz"
        env:
          AZCOPY_SPA_APPLICATION_ID: ${{ secrets.AZCOPY_SPA_APPLICATION_ID }}
          AZCOPY_SPA_CLIENT_SECRET: ${{ secrets.AZCOPY_SPA_CLIENT_SECRET }}
          AZCOPY_TENANT_ID: ${{ secrets.AZCOPY_TENANT_ID }}

  build-windows:
    runs-on: windows-2019
    needs: list
    strategy:
      fail-fast: false
      matrix: ${{fromJson(needs.list.outputs.matrix)}}
    env:
      MARIADB_VERSION: ${{ matrix.mariadb }}
    steps:
      - uses: actions/checkout@v2
      - run: .github\build-mariadb-windows.ps1 $env:MARIADB_VERSION
      - uses: kheiakiyama/install-azcopy-action@v1
        with:
          version: "v10"
      - name: upload
        shell: pwsh
        run: |
          Set-Location ${env:RUNNER_TEMP}
          $pkg = Get-Content "${env:GITHUB_WORKSPACE}/package.json" -Encoding UTF8 -Raw | ConvertFrom-Json
          $version = $pkg.version
          azcopy_v10 login --service-principal --application-id $env:AZCOPY_SPA_APPLICATION_ID --tenant-id $env:AZCOPY_TENANT_ID
          azcopy_v10 cp "C:\Temp\mariadb.zip" "https://setupmysql.blob.core.windows.net/actions-setup-mysql/v$version/mariadb-${env:MARIADB_VERSION}-win32-x64.zip"
        env:
          PERL_VERSION: ${{ matrix.perl }}
          AZCOPY_SPA_APPLICATION_ID: ${{ secrets.AZCOPY_SPA_APPLICATION_ID }}
          AZCOPY_SPA_CLIENT_SECRET: ${{ secrets.AZCOPY_SPA_CLIENT_SECRET }}
          AZCOPY_TENANT_ID: ${{ secrets.AZCOPY_TENANT_ID }}
