name: "Build MariaDB"
on:
  # pull_request:
  push:
    branches:
      - "releases/*"
  workflow_dispatch:
    inputs:
      mariadb-versions:
        description: MariaDB versions to build (JSON Array)
        required: false
        default: ""

jobs:
  list:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v2
      - id: set-matrix
        name: list available MariaDB versions
        run: |
          if [ -n "$MARIADB_VERSIONS" ]; then
            echo "::set-output name=matrix::$(printenv MARIADB_VERSIONS | jq -c '{mariadb: .}')"
          else
            echo "::set-output name=matrix::$(< versions/mariadb.json jq -c '{mariadb: .}')"
          fi
        env:
          MARIADB_VERSIONS: ${{ github.event.inputs.mariadb-versions }}
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}

  build-linux:
    runs-on: ubuntu-18.04
    needs: list
    strategy:
      fail-fast: false
      matrix: ${{fromJson(needs.list.outputs.matrix)}}
    env:
      MARIADB_VERSION: ${{ matrix.mariadb }}
    timeout-minutes: 180
    steps:
      - uses: actions/checkout@v2
      - run: .github/build-mariadb-linux.sh "$MARIADB_VERSION"
      - uses: actions/upload-artifact@v2
        with:
          name: mariadb-${{ matrix.mariadb }}-linux-x64.tar.zstd
          path: ${{ runner.temp }}/mariadb.tar.zstd

  build-darwin:
    runs-on: macos-10.15
    needs: list
    strategy:
      fail-fast: false
      matrix: ${{fromJson(needs.list.outputs.matrix)}}
    env:
      MARIADB_VERSION: ${{ matrix.mariadb }}
    timeout-minutes: 180
    steps:
      - uses: actions/checkout@v2
      - run: .github/build-mariadb-darwin.sh ${{ matrix.mariadb }}
      - uses: actions/upload-artifact@v2
        with:
          name: mariadb-${{ matrix.mariadb }}-darwin-x64.tar.zstd
          path: ${{ runner.temp }}/mariadb.tar.zstd

  build-windows:
    runs-on: windows-2019
    needs: list
    strategy:
      fail-fast: false
      matrix: ${{fromJson(needs.list.outputs.matrix)}}
    env:
      MARIADB_VERSION: ${{ matrix.mariadb }}
    timeout-minutes: 180
    steps:
      - uses: actions/checkout@v2
      - run: .github\build-mariadb-windows.ps1 $env:MARIADB_VERSION
      - uses: actions/upload-artifact@v2
        with:
          name: mariadb-${{ matrix.mariadb }}-win32-x64.zip
          path: "C:\\Temp\\mariadb.zip"

  upload:
    needs:
      - build-linux
      - build-darwin
      - build-windows
    if: always()
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
        with:
          path: artifacts
      - name: upload to azure
        run: |
          "$GITHUB_WORKSPACE/.github/upload-to-azure.sh"
        env:
          AZCOPY_SPA_APPLICATION_ID: ${{ secrets.AZCOPY_SPA_APPLICATION_ID }}
          AZCOPY_SPA_CLIENT_SECRET: ${{ secrets.AZCOPY_SPA_CLIENT_SECRET }}
          AZCOPY_TENANT_ID: ${{ secrets.AZCOPY_TENANT_ID }}
        working-directory: artifacts
