name: "Build MySQL"
on:
  # pull_request:
  push:
    branches:
      - "releases/*"
  workflow_dispatch:
    inputs:
      mysql-versions:
        description: MySQL versions to build (JSON Array)
        required: false
        default: ""

jobs:
  list:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - id: set-matrix
        name: list available MySQL versions
        run: |
          if [ -n "$MYSQL_VERSIONS" ]; then
            echo "::set-output name=matrix::$(printenv MYSQL_VERSIONS | jq -c '{mysql: .}')"
          else
            echo "::set-output name=matrix::$(< versions/mysql.json jq -c '{mysql: .}')"
          fi
        env:
          MYSQL_VERSIONS: ${{ github.event.inputs.mysql-versions }}
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}

  build-linux:
    runs-on: ubuntu-18.04
    needs: list
    strategy:
      fail-fast: false
      matrix: ${{fromJson(needs.list.outputs.matrix)}}
    env:
      MYSQL_VERSION: ${{ matrix.mysql }}
    steps:
      - name: install gcc
        run: |
          sudo apt-get install gcc-8 g++-8
      - uses: actions/checkout@v2
      - run: .github/build-mysql-linux.sh "$MYSQL_VERSION"
      - uses: kheiakiyama/install-azcopy-action@v1
        with:
          version: "v10"
      - name: upload
        run: |
          ACTIONS_VERSION=v$(< "$GITHUB_WORKSPACE/package.json" jq -r .version)
          azcopy_v10 login --service-principal --application-id "$AZCOPY_SPA_APPLICATION_ID" --tenant-id "$AZCOPY_TENANT_ID"
          azcopy_v10 cp "$RUNNER_TEMP/mysql.tar.xz" "https://setupmysql.blob.core.windows.net/actions-setup-mysql/$ACTIONS_VERSION/mysql-$MYSQL_VERSION-linux-x64.tar.xz"
        env:
          AZCOPY_SPA_APPLICATION_ID: ${{ secrets.AZCOPY_SPA_APPLICATION_ID }}
          AZCOPY_SPA_CLIENT_SECRET: ${{ secrets.AZCOPY_SPA_CLIENT_SECRET }}
          AZCOPY_TENANT_ID: ${{ secrets.AZCOPY_TENANT_ID }}

  build-darwin:
    runs-on: macos-10.15
    needs: list
    strategy:
      fail-fast: false
      matrix: ${{fromJson(needs.list.outputs.matrix)}}
    env:
      MYSQL_VERSION: ${{ matrix.mysql }}
    steps:
      - uses: actions/checkout@v2
      - run: .github/build-mysql-darwin.sh "$MYSQL_VERSION"
      - uses: kheiakiyama/install-azcopy-action@v1
        with:
          version: "v10"
      - name: upload
        run: |
          ACTIONS_VERSION=v$(< "$GITHUB_WORKSPACE/package.json" jq -r .version)
          azcopy_v10 login --service-principal --application-id "$AZCOPY_SPA_APPLICATION_ID" --tenant-id "$AZCOPY_TENANT_ID"
          azcopy_v10 cp "$RUNNER_TEMP/mysql.tar.xz" "https://setupmysql.blob.core.windows.net/actions-setup-mysql/$ACTIONS_VERSION/mysql-$MYSQL_VERSION-darwin-x64.tar.xz"
        env:
          AZCOPY_SPA_APPLICATION_ID: ${{ secrets.AZCOPY_SPA_APPLICATION_ID }}
          AZCOPY_SPA_CLIENT_SECRET: ${{ secrets.AZCOPY_SPA_CLIENT_SECRET }}
          AZCOPY_TENANT_ID: ${{ secrets.AZCOPY_TENANT_ID }}

  build-windows:
    runs-on: windows-2019
    needs: list
    strategy:
      fail-fast: false
      matrix: ${{fromJson(needs.list.outputs.matrix)}}
    env:
      MYSQL_VERSION: ${{ matrix.mysql }}
    steps:
      - uses: actions/checkout@v2
      - run: .github\build-mysql-windows.ps1 $env:MYSQL_VERSION
      - uses: kheiakiyama/install-azcopy-action@v1
        with:
          version: "v10"
      - name: upload
        shell: pwsh
        run: |
          Set-Location ${env:RUNNER_TEMP}
          $pkg = Get-Content "${env:GITHUB_WORKSPACE}/package.json" -Encoding UTF8 -Raw | ConvertFrom-Json
          $version = $pkg.version
          azcopy_v10 login --service-principal --application-id $env:AZCOPY_SPA_APPLICATION_ID --tenant-id $env:AZCOPY_TENANT_ID
          azcopy_v10 cp "C:\Temp\mysql.zip" "https://setupmysql.blob.core.windows.net/actions-setup-mysql/v$version/mysql-${env:MYSQL_VERSION}-win32-x64.zip"
        env:
          PERL_VERSION: ${{ matrix.perl }}
          AZCOPY_SPA_APPLICATION_ID: ${{ secrets.AZCOPY_SPA_APPLICATION_ID }}
          AZCOPY_SPA_CLIENT_SECRET: ${{ secrets.AZCOPY_SPA_CLIENT_SECRET }}
          AZCOPY_TENANT_ID: ${{ secrets.AZCOPY_TENANT_ID }}
