name: "test"
on:
  pull_request:
  push:
    branches:
      - main
      - "releases/*"

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    timeout-minutes: 5
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set Node.js 12.x
        uses: actions/setup-node@v2
        with:
          node-version: 12.x
          cache: npm

      - run: npm ci
      - run: npm run test

  test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-20.04
          - ubuntu-18.04
          - macos-11
          - macos-10.15
          - windows-2022
          - windows-2019
        mysql:
          - "8.0"
          - "5.7"
          - "5.6"
          - "mariadb-10.6"
          - "mariadb-10.5"
          - "mariadb-10.4"
          - "mariadb-10.3"
    timeout-minutes: 5
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set Node.js 12.x
        uses: actions/setup-node@v2
        with:
          node-version: 12.x
          cache: npm

      - run: npm ci
      - run: npm run build
      - name: use the action
        id: action
        uses: ./
        with:
          mysql-version: ${{ matrix.mysql }}
          root-password: very-very-secret
          user: my
          password: secret
      - name: test
        run: |
          prove -v t
        env:
          MYSQL_VERSION: ${{ matrix.mysql }}
          BASE_DIR: ${{ steps.action.outputs.base-dir }}
