name: "test"
on:
  pull_request:
  push:
    branches:
      - main
      - "releases/*"

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    timeout-minutes: 15
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Set Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: package.json
          cache: npm

      - run: npm ci
      - run: npm run test
        env:
          GITHUB_TOKEN: ${{ github.token }}

  test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-24.04
          - ubuntu-22.04
          - ubuntu-24.04-arm
          - ubuntu-22.04-arm
          - macos-26
          - macos-15
          - macos-15-intel
          - macos-14
          - windows-2025
          - windows-2022
        mysql:
          - "9.5" # latest
          - "8.4" # LTS
          - "8.0"
          - "mariadb-12.1" # latest
          - "mariadb-11.4" # LTS
          - "mariadb-10.11" # LTS
          - "mariadb-10.6" # LTS
          - "mariadb-10.5" # LTS
    timeout-minutes: 15
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Set Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: package.json
          cache: npm
      - name: Set up perl
        uses: shogo82148/actions-setup-perl@f9f0bf89e0d19ddbabb2f40d43db2e944bce7d2f # v1.36.0
        with:
          perl-version: "5.40"

      - run: npm ci
      - run: npm run build
      - name: use the action
        id: action
        uses: ./
        with:
          mysql-version: ${{ matrix.mysql }}
          root-password: very-very-secret
          user: my
          password: secret
      - name: test
        run: |
          prove -v t
        env:
          MYSQL_VERSION: ${{ matrix.mysql }}
          BASE_DIR: ${{ steps.action.outputs.base-dir }}

  # https://github.com/shogo82148/actions-setup-mysql/issues/421
  test-issue421:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Set Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: package.json
          cache: npm

      - run: npm ci
      - run: npm run build
      - name: use the action
        id: action
        uses: ./
        with:
          mysql-version: "8.3"
          root-password: very-very-secret
          user: my
          password: secret
          my-cnf: |
            port=5729
            authentication_policy=mysql_native_password
            sql_mode="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
