name: "test"
on:
  pull_request:
  push:
    branches:
      - main
      - "releases/*"

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    timeout-minutes: 5
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set Node.js 16.x
        uses: actions/setup-node@v2
        with:
          node-version: 16.x
          cache: npm

      - run: npm ci
      - run: npm run test

  test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-20.04
          - ubuntu-18.04
          - macos-11
          - macos-10.15
          - windows-2022
          - windows-2019
        mysql:
          - "8.0"
          - "5.7"
          - "5.6"
          - "mariadb-10.8"
          - "mariadb-10.7"
          - "mariadb-10.6"
          - "mariadb-10.5"
          - "mariadb-10.4"
          - "mariadb-10.3"
    timeout-minutes: 5
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set Node.js 16.x
        uses: actions/setup-node@v2
        with:
          node-version: 16.x
          cache: npm
      - name: Set up perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: '5.34'

      - run: npm ci
      - run: npm run build
      - name: use the action
        id: action
        uses: ./
        with:
          mysql-version: ${{ matrix.mysql }}
          root-password: very-very-secret
          user: my
          password: secret
      - name: test
        run: |
          prove -v t
        env:
          MYSQL_VERSION: ${{ matrix.mysql }}
          BASE_DIR: ${{ steps.action.outputs.base-dir }}

  # https://github.com/shogo82148/actions-setup-mysql/issues/421
  test-issue421:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set Node.js 16.x
        uses: actions/setup-node@v2
        with:
          node-version: 16.x
          cache: npm

      - run: npm ci
      - run: npm run build
      - name: use the action
        id: action
        uses: ./
        with:
          mysql-version: '8'
          root-password: very-very-secret
          user: my
          password: secret
          my-cnf: |
            port=5729
            authentication_policy=mysql_native_password
            sql_mode="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
